@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  text-align: center;
  padding: 0;
}

body {
  font-family: "Montserrat", monospace;
  min-height: 500px;
  background-image: url("https://d-art.ppstatic.pl/kadry/k/r/1/2f/0c/5f1b15d15d628_o_full.jpg");
  background-color: #0c0c0c;
  background-size: cover;
  background-repeat: no-repeat;
}

table {
  background: #4b121252;
  box-shadow: 0 4px 30px #140202f6;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.966);
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat";
  color: #030303;
  text-align: center;
  margin-top: 30px;
}

th,
tr,
td {
  background: #4e88be33;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #0c0c0c4d;
  font-size: 1rem;
  padding: 10px;
}

button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background: #0e2c4733;
  font-family: "Montserrat";
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background: #0808089f;
}

input {
  padding: 10px 20px;
  border-radius: 5px;
  color: #070707;
  border: none;
  background: #031e3888;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
input:focus {
  background-color: #030303;
  outline: none;
  background-color: #4e88be33;
}
